body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
/*reset*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
}
/*common*/

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*header*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/*section 1*/
.benefits-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.page-title {
  margin: auto;
  margin-bottom: 48px;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.page-button {
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  line-height: 1.5;
  cursor: pointer;
}
.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*section 2*/

.characteristics-list {
  display: flex;
  gap: 24px;
}

.characteristics-list-title {
  margin-bottom: 8px;
}
.characteristics-list-item {
  width: calc((100% - 72px) / 4);
}
/*section 3*/

.team-section {
  background-color: #f4f4fd;
}

.title-section {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.personal-list {
  display: flex;
  gap: 24px;
}
.first-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.img-paddings {
  padding: 32px 0;
}
.section-title-ul {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text-ul {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/*section 4*/
.card-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.app-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.second-list {
  width: calc((100% - 48px) / 3);
}
.app-paddings {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-title-app {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*footer*/

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-part {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
